.NavBar{
   .NavBarContainer{
        width: 50%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }

    h1{
        text-align: center;
    }

    .NavBarLogo{
        width: 120px;
        height : auto;
        vertical-align: baseline;
    }

    .NavBarMenu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        align-items: center;
        width: 50%;
        margin: 20px auto;
        // border: solid 1px black;
        
    }

    .NavBarMenuItem{
        margin : 0 20px;
        
    }

    .NavBarLink{
        text-decoration: none;
        font-family: var(--Menu-Font-Name);
        font-size: var(--Menu-Font-Size);
    }
}