* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
 /* --Menu-Font-Size: ;*/
  --Menu-Font-Name: sans-serif;
  --Menu-Font-Size : 2rem;
  --Title-Font-Name : sans-serif;
  --Title-Font-Size : 3rem;
  --Font-TextArea-Idea : sans-serif;
}

body {
  background-image: url("./assets/gradient.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.1rem;
}

h2{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: var(--Title-Font-Name);
  font-size: var(--Title-Font-Size);
}
#root{
  width: 100%;
}