.Home{
   
    .HomeContainer{
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-around;
        margin: 0 auto;
        justify-content: space-around;
    }

    .HomeLeft{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .HomeRight{
        width: 70%;
    }

    .HomeRepo{
        width: 80%;
        height : 280px;
        padding : 20px;
        margin: 10px auto;
        justify-content: center;
        display: flex;
        align-items: center;
        border : solid 1px black;
    }

    .cartContainer{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
}